# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtualenv
venv/
ENV/
env/
.venv/

# IDE
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# OS
.DS_Store
Thumbs.db

# Flask
instance/
*.db
*.sqlite3

# Logs
*.log

# Others
*.bak
*.swp 
